<!DOCTYPE html>
<html lang='de' xml:lang='de'>
<head>
  <meta charset='UTF-8'/>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'/>
  <title>ELM-SPA-Template</title>
  <% for (var i = 0; i < htmlWebpackPlugin.files.css.length; i++) {%>
  <link rel='stylesheet' href='<%= htmlWebpackPlugin.files.css[i] %>'/>
  <% } %>
</head>
<body>
  <% for (var i = 0; i < htmlWebpackPlugin.files.js.length; i++) {%>
  <script src='<%= htmlWebpackPlugin.files.js[i] %>'> </script>
  <% } %>
</body>
</html>
